body{
    font-family: arial;
    font-size: 150%;
    margin: 0px;
}

div{
    background: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}