html{
    font-size: 150%;
}
.px{
padding: 32px;
}
.rem{
    padding: 2rem;
}
.Z{
    padding: 32px;
    background-color: aqua;
}
.S{
    padding: 2rem;
    background-color: aqua;

}
a{
    border-radius: 5px;
    text-decoration: none;
    background-color: blueviolet;
    padding: 15px ;
    color: black;
}
